registry=https://pkgs.dev.azure.com/alirezashlavasani/aafiat/_packaging/aafiat-feed/npm/registry/                     
always-auth=true

; begin auth token for Azure DevOps
//pkgs.dev.azure.com/alirezashlavasani/aafiat/_packaging/aafiat-feed/npm/registry/:username=alireza.sh.lavasani@gmail.com
//pkgs.dev.azure.com/alirezashlavasani/aafiat/_packaging/aafiat-feed/npm/registry/:_password=djM0NjM1eWt2emJjcHJ1amprdXVpc3UzazJtcXpsZmFqNGg1Y2s0Ym4yNGE0eTU1ZHFxYQ==
//pkgs.dev.azure.com/alirezashlavasani/aafiat/_packaging/aafiat-feed/npm/registry/:email=alireza.sh.lavasani@gmail.com
; end auth token for Azure DevOps